{
    "parser": "babel-eslint",
    "plugins": [
        "import",
        "flowtype",
        "react"
    ],
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "ecmaFeatures": {
      "arrowFunctions": true,
      "binaryLiterals": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "forOf": true,
      "generators": true,
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": true,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "octalLiterals": true,
      "regexUFlag": true,
      "regexYFlag": true,
      "superInFunctions": true,
      "templateStrings": true,
      "unicodeCodePointEscapes": true,
      "globalReturn": false,
      "modules": true,
      "jsx": true
    },
    "rules": {
        "comma-dangle": [2, "never"],
        "eol-last": 2,
        "space-after-keywords": 2,
        "space-before-blocks": 2,
        "space-before-keywords": 2,
        "space-infix-ops": [2, {"int32Hint": true}],
        "space-return-throw-case": 2,
        "space-before-function-paren": 0,
        "no-debugger": 0,
        "no-dupe-args": 2,
        "no-dupe-keys": 0,
        "no-duplicate-case": 2,
        "no-empty": 2,
        "space-unary-ops": [1, { "words": true, "nonwords": false }],
        "computed-property-spacing": [2, "never"],
        "no-multi-spaces": 2,
        "object-curly-spacing": [2, "never"],
        "array-bracket-spacing": [2, "never"],
        "block-spacing": [2, "never"],
        "arrow-spacing": 2,
        "comma-spacing": [2, {"before": false, "after": true}],
        "no-trailing-spaces": [2, {"skipBlankLines": true}],
        "no-empty-character-class": 2,
        "no-ex-assign": 2,
        "no-extra-boolean-cast": 0,
        "no-extra-parens": 0,
        "no-extra-semi": 2,
        "no-spaced-func": 2,
        "no-func-assign": 2,
        "no-inner-declarations": 0,
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 2,
        "no-negated-in-lhs": 2,
        "no-obj-calls": 2,
        "no-regex-spaces": 2,
        "no-reserved-keys": 0,
        "no-sparse-arrays": 2,
        "use-isnan": 1,
        "valid-jsdoc": 0,
        "valid-typeof": 2,
        "indent": [2, 4, {"SwitchCase": 1}],
        "no-with": 1,
        "radix": 0,
        "vars-on-top": 0,
        "wrap-iife": 1,
        "yoda": [1, "never"],
        "strict": 0,
        "no-catch-shadow": 0,
        "no-delete-var": 1,
        "no-label-var": 1,
        "no-shadow-restricted-names": 2,
        "no-undef-init": 1,
        "no-undef": 1,
        "no-undefined": 1,
        "brace-style": [2, "stroustrup", { "allowSingleLine": true }]
        # "flowtype/boolean-style": [2, "boolean"],
        # "flowtype/define-flow-type": 1,
        # "flowtype/delimiter-dangle": [2, "never"],
        # "flowtype/generic-spacing": [2, "never"],
        # "flowtype/no-weak-types": 2,
        # "flowtype/require-parameter-type": 2,
        # "flowtype/require-return-type": [2, "always", {"annotateUndefined": "never"}],
        # "flowtype/require-valid-file-annotation": 2,
        # "flowtype/semi": [2, "always"],
        # "flowtype/space-after-type-colon": [2, "always" ],
        # "flowtype/space-before-generic-bracket": [2, "never"],
        # "flowtype/space-before-type-colon": [2, "never"],
        # "flowtype/type-id-match": [2, "^([A-Z][a-z0-9]+)+Type$"],
        # "flowtype/union-intersection-spacing": [2, "always"],
        # "flowtype/use-flow-type": 1,
        # "flowtype/valid-syntax": 1
    },
    "env": {
        "browser": true,
        "mocha": true,
        "node": true,
        "es6": true
    },
    "globals": {
        "expect": true,
        "protractor": true,
        "browser": true,
        "sinon": true
    }
}
